* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header div:first-child p {
    font-size: 12px;
}

.header div:last-child {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.plans-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0 10px;
}

.plan {
    display: flex;
    flex-basis: calc(100% / 3 - (15px * 2) / 3);
    flex-shrink: 0;
    padding: 20px;
    flex-direction: column;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    flex-grow: 1;
}

.price {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 20px auto 10px;
    gap: 5px;
    flex-shrink: 0;
}

.price span:nth-child(2) {
    font-size: 40px;
}

.discount {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    gap: 5px;
    flex-shrink: 0;
    align-items: center;
}

.discount span:last-child {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}

.bottone {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    flex-shrink: 0;
    padding: 20px;
    background-color: rgb(101 0 255);
    color: white;
    border-radius: 10px;
    width: 100%;
}

.features {
    display: flex;
    margin: 20px;

}

ul {
    list-style: none;
    margin-left: -20px;
}

li {
    padding: 5px;
    margin-bottom: 5px;
}

.plan:nth-child(2) {
    color: white;
    background-color: rgb(101 0 255);
}

.plan:nth-child(2) .bottone {
    color: rgb(101 0 255);
    background-color: white;
}